.DS_Store

# Environment
.env
.env.*

# Node backend
backend/node_modules/
backend/data/app-db.json
backend/data/*.tmp
npm-debug.log*
backend/.env


# Flutter frontend
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages

# IDE/editor
.idea/
.vscode/


